{
  "presets": [
    "@react-native/babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ios.js", ".android.js", ".js", ".ts", ".tsx", ".json"],
        "alias": {
          "@": "./src"
        }
      }
    ],
    "@babel/plugin-transform-react-jsx"
  ],
  "env": {
    "production": {
      "presets": ["@react-native/babel-preset"]
    }
  }
}
